@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

* {
	margin: 0;
	padding: 0;
}


html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: "montserrat", sans-serif;
	display: block;

}

header, textarea, form, input {
	font-family: "montserrat", sans-serif;

}

/*HEADER*/


.button-proposal {
	height: 70%;
	margin: auto;
	border-radius: 5px;
	background-color: #801B59;
	cursor: pointer;
	border: none;
	margin-top: 15px;
	width: 140px;
	font-size: 16px;
	color: white;
}


@-webkit-keyframes glowing {
  0% { background-color: #801B59; -webkit-box-shadow: 0 0 3px #801B59; }
  50% { background-color: #4126A9; -webkit-box-shadow: 0 0 3px #4126A9; }
  100% { background-color: #801B59; -webkit-box-shadow: 0 0 3px #801B59; }
}

@-moz-keyframes glowing {
  0% { background-color: #801B59; -moz-box-shadow: 0 0 3px #801B59; }
  50% { background-color: #4126A9; -moz-box-shadow: 0 0 3px #4126A9; }
  100% { background-color: #801B59; -moz-box-shadow: 0 0 3px #801B59; }
}

@-o-keyframes glowing {
  0% { background-color: #801B59; box-shadow: 0 0 3px #801B59; }
  50% { background-color: #4126A9; box-shadow: 0 0 3px #4126A9; }
  100% { background-color: #801B59; box-shadow: 0 0 3px #801B59; }
}

@keyframes glowing {
  0% { background-color: #801B59; box-shadow: 0 0 3px #801B59; }
  50% { background-color: #4126A9; box-shadow: 0 0 3px #4126A9; }
  100% { background-color: #801B59; box-shadow: 0 0 3px #801B59; }
}

.button-proposal {
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
}


.header img {
	padding: 20px;
	height: 70%;
	margin: auto;
}

.header {
	height: 80px;
	background: #F5F5F5;
	padding: 10 10px;
	color: #000;
	box-shadow: 0 4px 2px -2px #801B59;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.logo {
	line-height: 100px;
	float: left;
	text-transform: uppercase;
}

section .divisor::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    top: calc(100% - 50px);
    left: calc(50% - 50px);
    transform: rotate(45deg);
    z-index: -1;
}

.menu {
	float: right;
	line-height: 100px;
}

.menu a {
	color: #801B59;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4s;
}

.show-menu-botton, .hide-menu-botton {
	transition: 0.4s;
	font-size: 30px;
	display: none;
	cursor: pointer;
}

.show-menu-botton {
	float: right;
}

.show-menu-botton i {
	line-height: 100px;
}

.menu a:hover,
.show-menu-botton:hover,
.hide-menu-botton:hover {
	color: #3f4c6b;
}

#checkbox {
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

@media screen and (max-width: 800px ){
	.show-menu-botton, .hide-menu-botton {
		display: block;
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #FFF;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7;
	}
	.menu a {
		display: block;
		padding: 20px;
	}

	.hide-menu-botton {
		position: absolute;
		top: 40px;
		right: 60px;
	}

	#checkbox:checked ~ .menu {
		right: 0;
	}
}


/*HOME*/

.b1 {
	width: 100%;
	height: 100vh;
	margin: auto;
	background: #000;
	position: relative;
	overflow: hidden;

}

.b1::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/home.png) no-repeat;
	background-size:cover;
	opacity: 0.3;
	animation: anim 25s linear infinite;
}

@keyframes anim {
	50% {
		transform: scale(1.4);
	}

	100% {
		transform: scale(1);
	}

}


.b1 .ini{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}

.content {
	max-width: 500px;
	margin: auto;
	text-align: center;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 100%;
	max-width: 800px;
	text-align: center;
}

.content h1 {
	color: #f9f3f4;
	font-size: 50px;
	text-shadow: 0 0 300px #000;
	margin-bottom: 100px;
}

.content .botton-ini {
/*	border-radius: 5px;
	border: 4px solid;
	padding: 7px 13px;
	font-weight: bold;*/
	text-decoration:none;
	color: #f9f4f4;
	font-size: 50px;


}

.content .botton-ini:hover {
	color: #801B59;
}

.title-animation {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.title-animation span {
	color: white;
	text-transform:uppercase;
	display: block;
}

.text1 {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 8px;
	margin-bottom: -40px
	background: black;
	position: relative;
	animation: text 3s 1;
}

.text2 {
	font-size: 30px;
	color: #6ab04c;
}


@keyframes text {
	0% {
		color: black;
		margin-bottom: - 40px;
	}

	30% {
		letter-spacing: 25px;
		margin-bottom: -40px;
	}

	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;

	}
}
	
/*CONTACT*/

.contact-info {
	position: fixed;
	top: 40%;
	z-index: 99999;
	left: 0;
}

.option {
	cursor: pointer;
	position: relative;
}

.option i {
	display: block;
	width: 60px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	background: #801B59;
	color: #fff;
	font-size: 20px;
	transition: 0.6s;
}

.option:hover i {
	color: #3f4c6b;
}

.text {
	position: absolute;
	height: 60px;
	width: 220px;
	background: #801B59;
	top: 0;
	z-index: -1;
	left: -180px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	transition: 0.6s;
}

.option:hover .text {
	left: 60px;
}


/*SERVIÇOS*/

.box-tecs {
	background: #f1f1f1;

}

.box-tecs h1 {
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 10px solid #801B59;
	font-size: 30px;
	padding-bottom: 10px;
	margin-top: 40px;
}

}

.box-tec {
	background: #f1f1f1;
	text-align: center;
}

.box-tecs {
	text-align: center;
}

.box-tecs p {
	margin-top: 50px;
	font-size: 20px;
}

.box-tec h1 {
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 10px solid #3498db;
	font-size: 20px;
	padding-bottom: 10px;
	margin-top: 40px;
}

.cen {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}

.service-tec {
	margin-top: 80px;
	width: calc(100% / 6);
	display: inline-block;
	/*
	display: inline-block;
	margin: 0 -2px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.4s;

*/
}
/*
.service-tec i {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 10px solid red;
	padding: 40px;
	display: flex;
	justify-content: center;


}
*/
.service-tec:hover {
	background: #ddd;
}

.service-tec i {
	color: #801B59;
	font-size: 34px;
	margin-bottom: 30px;
}


.box-tec {
	width: 100%;
	top: 20%;

}

.box {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box span {
	width: 80px;
	height: 80px;
	background: black;
	color: white;
	border-radius: 50%;
	display: inline-block;
	margin: 0 6px;

}



.s1 {
	animation: s1 1s infinite;
}

@keyframes s1 {
	25% {
		transform: scale(1);
	}

	50% {
		transform: (1.2);
	}

	75% {
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}

}


/* /////////////////  */
.services {
	background: #f1f1f1;
	text-align: center;
}

.services h1 {
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 10px solid #801B59;
	font-size: 20px;
	padding-bottom: 10px;
	margin-top: 40px;
}

.cen {
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}

.service {
	display: inline-block;
	width: calc(100% / 3);
	margin: 0 -2px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.4s;
}

.service:hover {
	background: #ddd;
}

.service i {
	color: #801B59;
	font-size: 34px;
	margin-bottom: 30px;
}

.service h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
}

.service p {
	color: gray;
	font-size: 15px;
	font-weight: 500;
}

@media screen and (max-width: 800px) {
	.service {
		width: 50%;
	}

	.service-tec {
		width: 50%;
	} 
}

@media screen and (max-width: 500px) {
	.service {
		width: 100%;
	}

	.service-tec {
		width: 100%;
	} 
}


/*BOTTONS BUSSINESS
*/

.bottons-bussiness {
	width: 100%;
	display: inline-block;
	background-color: #801B59;
	padding-top: 30px;
	padding-bottom: 30px;
	background-attachment: fixed;
}

.right-col-b { 
	width: 50%;
	text-align: center;
	float: right;
 }
 .left-col-b { 
	width: 50%;
	text-align: center;
	float: left;

 }

.botton-bussiness-l {
	padding: 15px 20px;
	border: 1px solid #fff;
	border-radius: 3px;
	font-weight: 400;
	color: white;
	margin: 5px;
	float: right;
	
}

.botton-bussiness-l:hover {
	background-color: #3f4c6b;	
}

.botton-bussiness-r:hover {
	border: 1px solid #3f4c6b;
	color: #3f4c6b;
}

.botton-bussiness-r {
	display: inline-block;
	padding: 15px 20px;
	border: 1px solid #fff;
	background-color: white;
	border-radius: 3px;
	font-weight: 400;
	color: #801B59;
	margin: 5px;
	float: left;
	
}


/*BLOG*/

.single-blog img {
	width: 100%;
	transition: all .5s;
}

.section-blog {
	background: #f1f1f1;
	text-align: center;
	padding-bottom: 100px;
}

.container-blog {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

main {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	margin: 30px 15px 0px 15px;
}

.header-blog {
	width: 70%;
	margin: 0 auto;
}

.header-blog h1 {
	margin: 0;
	color: #801B59;
	font-weight: 500;
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 10px solid
	#801B59;
	font-size: 30px;
	padding-bottom: 10px;
	margin-top: 40px;
}

.header-blog p {
	margin-top: 25px;
}

.single-blog {
	position: relative;
	overflow: hidden;
	max-height: 580px;
	height: 100%;
	box-sizing: border-box;
	box-shadow: 0 2px 10px #ccc;
	transition: all .5s;
}

.single-blog:hover img {
	transform: scale(1.1);
	transition: all .4s;
}

.single-blog:hover .blog-content {
	bottom: 0;
	transition: all .5s;
}

.blog-content {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	color: #fff;
	padding: 10px 5px;
	background: linear-gradient(to bottom, rgba(128,27,89,0.7) 0%,rgba(147,68,119,0.5) 58%,rgba(193,116,160,1) 100%); 
	transition: all .5s;
}

.blog-content h3{
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}

.blog-content a {
	font-size: 14px;
	font-weight: 500;
	color: white;
}

.blog-content .botton-blog {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #fff;
	border-radius: 3px;
	font-weight: 400;
	color: white;
	margin: 5px;
}

.box-botton-blogs {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

.botton-blogs {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 3px;
	font-weight: 400;
	color: white;
	margin: 5px;
	background-color: #801B59;
}

.botton-blogs:hover {
	background-color: #3f4c6b;
}

.blog-content .botton-blog:hover {
	background: #801B59;
	transition: all .5s;
	text-decoration: none;
}

@media (max-width: 992px) {
	main {
		grid-template-columns: repeat(3, fr);
		grid-gap: 20px;
	}


	.single-blog {
		width: 100%;
	}

}

@media (max-width: 800px) {
	main {
		grid-template-columns: repeat(2, 50%);
		grid-gap: 20px;
	}


	.single-blog {
		width: 100%;
	}
	
}


@media (max-width: 767px) {
	main {
		grid-template-columns: repeat(2. 1fr);
		grid-gap: 15px;
	}

	.header-blog {
		width: 95%;
	}

	.blog-content {
		bottom: 0;
	}

	.single-blog {
		width: 100%;
	}
}

@media (max-width: 500px) {
	main {
		grid-template-columns: repeat(1, 1fr);
	}
}

/*EBOOK*/

.container {
	background: url(../img/ebook-bg.png) no-repeat;
	background-size: cover;
	padding: 40px 40px;
	color: white;
	text-align: center;
	background-attachment: fixed;
}

.container p {
	max-width: 400px;
	margin: 40px auto;
	font-size: 15px;
	font-weight: 300;
}

.email-box {
	display: flex;
	height: 40px;
	justify-content: center;
}

.email-box i {
	background: #2f3542;
	width: 40px;
	line-height: 40px;
	color: #801B59;
}

.tbox, .button {
	border: none;
	outline: none;
}

.tbox {
	width: 0px;
	transition: 0.6s;
}

.email-box:hover > .tbox, .tbox:focus {
	width: 260px;
	padding: 0 10px;
}

.button {
	background: #2f3542;
	color: white;
	padding: 0 10px;
	text-transform: uppercase;
	cursor: pointer;
}
/* CONTACT */

.contact-section {
	background: url(../img/contact-bg.png) no-repeat center;
	background-size: cover;
	padding: 40px 0; 
	background-attachment: fixed;

}

.contact-section h1 {
	text-align: center;
	color: #801B59;
	font-size: 40px;
}

.border {
	width: 100px;
	height: 10px;
	background: #801B59;
	margin: 40px auto;
}

.contact-form {
	max-width: 600px;
	margin: auto;
	padding: 0 10px;
	overflow: hidden;
}

.contact-form-text {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin: 16px 0;
	border: 0;
	background: #111;
	padding: 20px 40px;
	outline: none;
	color: #ddd;
	transition: 0.5s;
}

.contact-form-text:hover {
	box-shadow: 0 0 10px 4px #801B59;
}

textarea.contact-form-text {
	resize: none;
	height: 120px;
}

.contact-form-botton {
	float: right;
	border: 0;
	background: #801B59;
	color: #fff;
	padding: 12px 50px;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.contact-form-botton:hover {
	background: #000;
	color: #fff;
}


/*FOOTER*/ 

footer {
	background: #801B59;
	padding: 90px 0;
}

.footer-container {
/*	max-width: 1300px;
*/	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
	color: white;
	background-attachment: fixed;
}

.logo-footer {
	width: 180px;
}

.social-media {
	margin: 20px 0;
}

.social-media a {
	color: white;
	margin-right: 25px;
	font-size: 22px;
	text-decoration: none;
	transition: 3s linear;
}


.social-media a:hover {
	cursor: pointer;
	color: #fc5c65;
}

.right-col h1 {
	font-size: 26px;
}

.borderr {
	width: 100px;
	height: 4px;
	background: #fc5c85;
}

a {
	text-decoration: none;
}

.footer-container h4 {
	color: white;
	margin-bottom: 10px;
}


/*ABA DE SERVIÇOS*/

.tab-service {
	margin-top: 80px;
	display: inline-block;
}

.tab-content {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.tablinks {	
  background-color: inherit;
  float: left;
  cursor: pointer;
  padding: 30px 34px;
  transition: 0.3s;
  font-size: 10px;
}

.tablinks i {
	font-size: 45px;
	color: #801B59;
}

.tablinks h2 {
	font-weight: normal;
	text-transform: uppercase;
}
/*

OPEN BUNISSESS */

.all-page {
	width: 100%;
	min-height: 100vh;
}

.top-page {
	
	margin-top: 60px;

}


.top-open {
	width: 100%;
	height: 40vh;
	margin: auto;
	background: #000;
	position: relative;
	overflow: hidden;

}

.top-open::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/home.png) no-repeat;
	background-size:cover;
	background-attachment: fixed;
	opacity: 0.3;
	animation: anim 25s linear infinite;
}


.content-top {
	max-width: 500px;
	margin: auto;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 100%;
	max-width: 800px;
	text-align: center;
}

.content-top h1 {
	color: #f9f3f4;
	font-size: 50px;
	text-shadow: 0 0 300px #000;
}

.color {
	background-color: #bdc3c7;
}

.div-service {
	width: 80%;
	height: 80vh;
	background-color: #ecf0f1;
	margin: auto;
}